<h1> This is a Gentle Reminder Regarding The File : <%= @document.file_name %> </h1>
<br/>
<p> The deadline for this file is coming up on <%= @document.deadline %></p> 
<br/> 
<p> Your client of this case is <%= @document.client %></p>

<br/>

<h4> Have a great day ahead and happy prepping! </h4>

<br/> <%= link_to "Home Page", home_url %>